[submodule "cbindgen"]
	path = cbindgen
	url = https://github.com/elmarco/cbindgen.git
	branch = gobject
[submodule "keycodemapdb"]
	path = keycodemapdb
	url = https://gitlab.com/keycodemap/keycodemapdb.git
